<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvX7sX62rfb0Hj0ZK8Sp4_8VeRdeDZkxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1041612434868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cruisectrl.CruiseCtrl</string>
	<key>PROJECT_ID</key>
	<string>cruisectrl-1d4f1</string>
	<key>STORAGE_BUCKET</key>
	<string>cruisectrl-1d4f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041612434868:ios:d0fd1762b2f5bbeabf56e1</string>
</dict>
</plist>